div.gallery
  div.container 
    div.gallery__wrap(data-aos='fade-up', data-aos-delay='400')
      div.owl-carousel.gallery__slider 
        div.gallery__item 
          figure(data-src=imgUrl+"slider/slide_1_big.jpg", data-fancybox="gallery") 
            img(src=imgUrl+"slider/slide_1.jpg", alt="quarcite TARTARUGA")
            figcaption
              h5 Private Progect. Designed by OM Arhitecture.
              p Stone - quarcite TARTARUGA YEAR - 2014
        
        div.gallery__item 
          figure(data-src=imgUrl+"slider/slide_2_big.jpg", data-fancybox="gallery") 
            img(src=imgUrl+"slider/slide_2.jpg", alt="quarcite TARTARUGA")
            figcaption
              h5 Private Progect. Designed by OM Arhitecture. 
              p Stone - quarcite TARTARUGA YEAR - 2014

        div.gallery__item 
          figure(data-src=imgUrl+"slider/slide_3_big.jpg", data-fancybox="gallery")
            img(src=imgUrl+"slider/slide_3.jpg", alt="marble ALASKA WHITE")
            figcaption
              h5 Private Progect. Designed by OM Arhitecture.
              p Stone - marble ALASKA WHITE YEAR - 2014
        
        div.gallery__item 
          figure(data-src=imgUrl+"slider/slide_4_big.jpg", data-fancybox="gallery") 
            img(src=imgUrl+"slider/slide_4.jpg", alt="marble FENTASY GREY")
            figcaption
              h5 Private Progect. Designed by OM Arhitecture. 
              p Stone - marble FENTASY GREY YEAR - 2014
        
        div.gallery__item 
          figure(data-src=imgUrl+"slider/slide_5_big.jpg", data-fancybox="gallery") 
            img(src=imgUrl+"slider/slide_5.jpg", alt="marble PETRA GREY BRUSHED")
            figcaption
              h5 Private Progect. Designed by OM Arhitecture.
              p  Stone - marble PETRA GREY BRUSHED YEAR - 2014

        div.gallery__item 
          figure(data-src=imgUrl+"slider/slide_6_big.jpg", data-fancybox="gallery") 
            img(src=imgUrl+"slider/slide_6.jpg", alt="granite VIOLET GREY")
            figcaption
              h5 Private Progect.
              p Stone - granite VIOLET GREY YEAR - 2010

        div.gallery__item 
          figure(data-src=imgUrl+"slider/slide_7_big.jpg", data-fancybox="gallery") 
            img(src=imgUrl+"slider/slide_7.jpg", alt="granite VIOLET GREY")
            figcaption
              h5 Private Progect. 
              p Stone - granite VIOLET GREY YEAR - 2010

        div.gallery__item 
          figure(data-src=imgUrl+"slider/slide_8_big.jpg", data-fancybox="gallery")
            img(src=imgUrl+"slider/slide_8.jpg", alt="marble VERSILYS")
            figcaption
              h5 Private Progect. Designed by ANASTASIA KOLESNIK.
              p Stone - marble VERSILYS YEAR - 2018
        
        div.gallery__item 
          figure(data-src=imgUrl+"slider/slide_9_big.jpg", data-fancybox="gallery") 
            img(src=imgUrl+"slider/slide_9.jpg", alt="quarcite BLANC DU BLANC & marble ERAMOSA")
            figcaption
              h5 Private Progect. Designed by ANASTASIA KOLESNIK.
              p Stone - quarcite BLANC DU BLANC & marble ERAMOSA YEAR - 2018
        
        div.gallery__item 
          figure(data-src=imgUrl+"slider/slide_10_big.jpg", data-fancybox="gallery") 
            img(src=imgUrl+"slider/slide_10.jpg", alt="quarcite BLANC DU BLANC & marble ERAMOSA")
            figcaption
              h5 Private Progect. Designed by ANASTASIA KOLESNIK.
              p Stone - quarcite BLANC DU BLANC & marble ERAMOSA YEAR - 2018
        
        div.gallery__item 
          figure(data-src=imgUrl+"slider/slide_11_big.jpg", data-fancybox="gallery") 
            img(src=imgUrl+"slider/slide_11.jpg", alt="quarcite BLANC DU BLANC & marble ERAMOSA")
            figcaption
              h5 Private Progect. Designed by ANASTASIA KOLESNIK.
              p Stone - quarcite BLANC DU BLANC & marble ERAMOSA YEAR - 2018
        
        div.gallery__item 
          figure(data-src=imgUrl+"slider/slide_12_big.jpg", data-fancybox="gallery") 
            img(src=imgUrl+"slider/slide_12.jpg", alt="Granite VIOLET GREY")
            figcaption
              h5 Private Progect. Designed by INTERIOR ATELIER MARSHAN.
              p Stone - Granite VIOLET GREY YEAR - 2008

      div.gallery__nav